/* Coolors Exported Palette - https://coolors.co/f6f9fd-e3edf8-d4e5f6-b3c3e3-03ade5-6d7aa4-3c4d71-202652-e94b37 */

// /* CSS HEX */
// --antiflash-white: #f6f9fdff;
// --alice-blue: #e3edf8ff;
// --columbia-blue: #d4e5f6ff;
// --powder-blue: #b3c3e3ff;
// --picton-blue: #03ade5ff;
// --glaucous: #6d7aa4ff;
// --yinmn-blue: #3c4d71ff;
// --space-cadet: #202652ff;
// --vermilion: #e94b37ff;

// /* CSS HSL */
// --antiflash-white: hsla(214, 64%, 98%, 1);
// --alice-blue: hsla(211, 60%, 93%, 1);
// --columbia-blue: hsla(210, 65%, 90%, 1);
// --powder-blue: hsla(220, 46%, 80%, 1);
// --picton-blue: hsla(195, 97%, 45%, 1);
// --glaucous: hsla(226, 23%, 54%, 1);
// --yinmn-blue: hsla(221, 31%, 34%, 1);
// --space-cadet: hsla(233, 44%, 22%, 1);
// --vermilion: hsla(7, 80%, 56%, 1);

/* SCSS HEX */
$antiflash-white: #f6f9fdff;
$alice-blue: #e3edf8ff;
$columbia-blue: #d4e5f6ff;
$powder-blue: #b3c3e3ff;
$picton-blue: #03ade5ff;
$glaucous: #6d7aa4ff;
$yinmn-blue: #3c4d71ff;
$space-cadet: #202652ff;
$vermilion: #e94b37ff;

/* SCSS HSL */
$antiflash-white: hsla(214, 64%, 98%, 1);
$alice-blue: hsla(211, 60%, 93%, 1);
$columbia-blue: hsla(210, 65%, 90%, 1);
$powder-blue: hsla(220, 46%, 80%, 1);
$picton-blue: hsla(195, 97%, 45%, 1);
$glaucous: hsla(226, 23%, 54%, 1);
$yinmn-blue: hsla(221, 31%, 34%, 1);
$space-cadet: hsla(233, 44%, 22%, 1);
$vermilion: hsla(7, 80%, 56%, 1);

/* SCSS RGB */
$antiflash-white: rgba(246, 249, 253, 1);
$alice-blue: rgba(227, 237, 248, 1);
$columbia-blue: rgba(212, 229, 246, 1);
$powder-blue: rgba(179, 195, 227, 1);
$picton-blue: rgba(3, 173, 229, 1);
$glaucous: rgba(109, 122, 164, 1);
$yinmn-blue: rgba(60, 77, 113, 1);
$space-cadet: rgba(32, 38, 82, 1);
$vermilion: rgba(233, 75, 55, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f6f9fdff, #e3edf8ff, #d4e5f6ff, #b3c3e3ff, #03ade5ff, #6d7aa4ff, #3c4d71ff, #202652ff, #e94b37ff);
$gradient-right: linear-gradient(90deg, #f6f9fdff, #e3edf8ff, #d4e5f6ff, #b3c3e3ff, #03ade5ff, #6d7aa4ff, #3c4d71ff, #202652ff, #e94b37ff);
$gradient-bottom: linear-gradient(180deg, #f6f9fdff, #e3edf8ff, #d4e5f6ff, #b3c3e3ff, #03ade5ff, #6d7aa4ff, #3c4d71ff, #202652ff, #e94b37ff);
$gradient-left: linear-gradient(270deg, #f6f9fdff, #e3edf8ff, #d4e5f6ff, #b3c3e3ff, #03ade5ff, #6d7aa4ff, #3c4d71ff, #202652ff, #e94b37ff);
$gradient-top-right: linear-gradient(45deg, #f6f9fdff, #e3edf8ff, #d4e5f6ff, #b3c3e3ff, #03ade5ff, #6d7aa4ff, #3c4d71ff, #202652ff, #e94b37ff);
$gradient-bottom-right: linear-gradient(135deg, #f6f9fdff, #e3edf8ff, #d4e5f6ff, #b3c3e3ff, #03ade5ff, #6d7aa4ff, #3c4d71ff, #202652ff, #e94b37ff);
$gradient-top-left: linear-gradient(225deg, #f6f9fdff, #e3edf8ff, #d4e5f6ff, #b3c3e3ff, #03ade5ff, #6d7aa4ff, #3c4d71ff, #202652ff, #e94b37ff);
$gradient-bottom-left: linear-gradient(315deg, #f6f9fdff, #e3edf8ff, #d4e5f6ff, #b3c3e3ff, #03ade5ff, #6d7aa4ff, #3c4d71ff, #202652ff, #e94b37ff);
$gradient-radial: radial-gradient(#f6f9fdff, #e3edf8ff, #d4e5f6ff, #b3c3e3ff, #03ade5ff, #6d7aa4ff, #3c4d71ff, #202652ff, #e94b37ff);