.student-dashboard {
  height: 1000px;
  width: 100%;
  background: linear-gradient(180deg, #202652 0%, #E3EDF8 100%);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.cards {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px; /* Optional: Adds space between the cards */
  justify-items: center;
  align-items: center;
}

.card-left, .card-middle, .card-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left, .middle, .right {
  width: 297px;
  height: 278px;
  background: #B3C3E3;
  border-radius: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.left:hover, .middle:hover, .right:hover{
  transform: scale(1.05);
}

.card-reserve{

  width: 300px;
  height: 250px;


}

.reserve{

  position: absolute;
  top: 200px;
  width: 255px;
  height: 20px;

  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.06em;

  color: #000000;


}

/* Line 1 */
.line{
  position: absolute;
  left: 13.23%;
  right: 13.23%;
  top: 75.13%;
  bottom: 30.87%;

  border: 1px solid #000000;
}

